/****************************************************************************************************************************
*                                              HTML TAGS / ELEMENTS                                                         *
*****************************************************************************************************************************/
html.overflow, body.overflow {
    overflow-x: auto;
}
html.overflow #header-section, html.overflow #main, html.overflow #header-image, html.overflow #mobile-menu, html.overflow #footer, body.overflow #header-section, body.overflow #main, body.overflow #header-image, body.overflow #mobile-menu, body.overflow #footer {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

body {
    font-family: 'Lato', arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #2e2e2e;
}
@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
        line-height: 1.5;
    }
}

::-moz-selection {
    color: #ffffff;
    background: #28bbf8;
}

::selection {
    color: #ffffff;
    background: #28bbf8;
}

a {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: #28bbf8;
    border-bottom: 2px solid transparent;
}
a:hover, a:focus, a:active {
    outline: none;
    text-decoration: none;
    color: #079edf;
    border-bottom: 2px solid #28bbf8;
}

input {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* Heading */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin: 0 0 20px 0;
    padding: 0;
}

h1, .h1 {
    font-size: 30px;
    line-height: 42px;
}

h2, .h2 {
    font-size: 26px;
    line-height: 38px;
}

h3, .h3 {
    font-size: 20px;
    line-height: 32px;
}

h4, .h4 {
    font-size: 16px;
    line-height: 28px;
}

h5, .h5 {
    font-size: 14px;
    line-height: 24px;
}

h6, .h6 {
    font-size: 12px;
    line-height: 24px;
}

ul, ol {
    padding-left: 15px;
    line-height: 26px;
}
ul ul, ul ol, ol ul, ol ol {
    padding-left: 25px;
}

p {
    margin: 0 0 20px 0;
}

.serif {
    font-family: "Crimson Text", serif;
}

.sans-serif {
    font-family: "Lato", arial, sans-serif;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    resize: none;
}

.lead-wrap {
    padding-top: 2em;
    padding-bottom: 5em;
}
@media screen and (max-width: 768px) {
    .lead-wrap {
        padding-top: 2em;
        padding-bottom: 3em;
    }
}

.lead {
    font-size: 40px;
    line-height: 52px;
}
@media screen and (max-width: 768px) {
    .lead {
        font-size: 30px;
        line-height: 42px;
    }
}

@media screen and (max-width: 480px) {
    .col-xxs-12 {
        display: block;
        clear: both;
        width: 100%;
        float: left;
    }
}

#contact {
    padding: 3em 0;
}
@media screen and (max-width: 768px) {
    #contact {
        padding: 2em 0;
    }
}
#contact .uppercase-heading-sm {
    color: rgba(0, 0, 0, 0.4);
}

#footer {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    padding: 3em 0;
}
@media screen and (max-width: 768px) {
    #footer {
        padding: 2em 0;
    }
}

#main {
    margin-top: 600px;
    padding-top: 50px;
    z-index: 102;
    position: relative;
    background: #ffffff;
}
@media screen and (max-width: 768px) {
    #main {
        margin-top: 0;
        padding-top: 20px;
    }
}

body.inner-page #main {
    margin-top: 400px;
}
@media screen and (max-width: 768px) {
    body.inner-page #main {
        margin-top: 0;
        padding-top: 20px;
    }
}


/****************************************************************************************************************************
*                                                   HEADER                                                                  *
*****************************************************************************************************************************/

#header-section {
    width: 100%;
    padding: 40px 0 30px 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: fixed;
    float: left;
    top: 0;
    left: 0 !important;
    right: 0;
    z-index: 103;
}
#header-section.scrolled {
    padding: 0;
    background: rgba(0, 0, 0, 0.8);
    background: white;
    -webkit-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -moz-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -ms-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    -o-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
    box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
}
#header-section.scrolled #logo a {
    color: #2e2e2e;
}
#header-section.scrolled #logo a:hover {
    color: #7b7b7b;
}
#header-section.scrolled #menu-wrap .sf-menu a {
    color: #2e2e2e;
    border-bottom: none !important;
}
#header-section.scrolled #menu-wrap .sf-menu a:hover {
    color: #28bbf8 !important;
}
#header-section.scrolled #menu-wrap .sf-menu li.active > a {
    color: #28bbf8 !important;
}
#header-section.scrolled #menu-wrap > .sf-menu > li > a {
    padding-top: 2em;
    padding-bottom: 2em;
}

#logo {
    font-size: 20px;
    margin: 16px 0 0 0;
    padding: 0;
    font-weight: bold;
}
#logo a {
    border-bottom: none !important;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
}
@media screen and (max-width: 768px) {
    #logo {
        text-align: center;
        margin: 0;
        float: none !important;
    }
}

.header {
    text-align: center;
}
.header .heading {
    font-weight: bold;
    font-size: 45px;
    line-height: 57px;
}
@media screen and (max-width: 768px) {
    .header .heading {
        font-size: 30px !important;
        line-height: 42px !important;
    }
}
.header .heading-sub {
    color: #777;
    font-size: 18px;
    line-height: 30px;
}


#header-image {
    background-color: #2e2e2e;
    background-size: cover;
    height: 600px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    color: #ffffff;
}
@media screen and (max-width: 768px) {
    #header-image {
        background-position: center center;
    }
}
#header-image .header-image-wrap {
    display: table;
    height: 600px;
    width: 100%;
}
#header-image .header-image-wrap .header-image-intro {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#header-image .header-image-wrap .header-image-intro > h1 {
    font-size: 40px;
    font-weight: normal;
    line-height: 62px;
    text-transform: uppercase;
    letter-spacing: 7px;
}
@media screen and (max-width: 768px) {
    #header-image .header-image-wrap .header-image-intro > h1 {
        letter-spacing: 4px;
        font-size: 30px;
        line-height: 42px;
    }
}
#header-image .header-image-wrap .header-image-intro > h2 {
    letter-spacing: 4px;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 20px;
    position: relative;
    color: #fff;
}
@media screen and (max-width: 768px) {
    #header-image .header-image-wrap .header-image-intro > h2 {
        letter-spacing: 3px;
    }
}
#header-image .header-image-wrap .header-image-intro > h2 > span {
    position: absolute;
    bottom: 0;
    display: block;
    background: rgba(255, 255, 255, 0.4);
    width: 50px;
    height: 3px;
    left: 50%;
    margin-left: -25px;
}
#header-image .header-image-wrap .btn {
    color: #ffffff;
}
#header-image .header-image-wrap .btn:hover, #header-image .header-image-wrap .btn:active, #header-image .header-image-wrap .btn:focus {
    background: #28bbf8;
    border-color: #28bbf8;
}
body.inner-page #header-image {
    height: 400px;
}
body.inner-page #header-image .header-image-wrap {

    padding-top: 100px;
    height: 400px;
}

@media screen and (max-width: 768px) {
    #header-image, .header-image-wrap {
        position: relative;
        padding: 4em 0 3em 0;
        height: inherit !important;
    }
}

#feature {
    background: #f6f7fa;
    padding: 5em 0;
}
@media screen and (max-width: 768px) {
    #feature {
        padding: 3em 0 2em 0;
    }
}

/****************************************************************************************************************************
*                                                    SPACING                                                                *
*****************************************************************************************************************************/
.spacer {
    clear: both;
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
}

.spacer-xlg {
    height: 150px;
}
@media screen and (max-width: 768px) {
    .spacer-xlg {
        height: 70px;
    }
}

.spacer-lg {
    height: 100px;
}
@media screen and (max-width: 768px) {
    .spacer-lg {
        height: 50px;
    }
}

.spacer-md {
    height: 80px;
}
@media screen and (max-width: 768px) {
    .spacer-md {
        height: 30px;
    }
}

.spacer-sm {
    height: 50px;
}
@media screen and (max-width: 768px) {
    .spacer-sm {
        height: 20px;
    }
}

.spacer-xs {
    height: 30px;
}
@media screen and (max-width: 768px) {
    .spacer-xs {
        height: 20px;
    }
}

.spacer-xxs {
    height: 20px;
}

.letter-spacing {
    letter-spacing: 1px;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.uppercase-heading-sm {
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #7b7b7b;
}

.form-group {
    margin-bottom: 30px;
}

.image-popup:hover {
    opacity: .7;
}

/****************************************************************************************************************************
*                                                   BUTTONS                                                                 *
*****************************************************************************************************************************/
.btn {
    border-bottom: none !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 10px;
}
.btn:hover, .btn:focus, .btn:active {
    box-shadow: none;
    outline: none !important;
    border-color: transparent;
}

.btn-outline:hover, .btn-outline:active, .btn-outline:focus {
    border: 2px solid #079edf !important;
    background: #079edf;
    color: #ffffff;
}

.btn-primary {
    background: #39bff9;
}

.btn-success {
    background: #00e195;
}

.btn-danger {
    background: #e02745;
}

.btn-info {
    background: #0bbff2;
}

.btn-warning {
    background: #ffd042;
}

.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
    border-color: transparent;
}

.btn-default:hover, .btn-default:active, .btn-default:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-info:hover,
.btn-info:active,
.btn-info:focus,
.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
    background: #079edf;
    color: #ffffff;
}

.form-control {
    box-shadow: none !important;
    border: 2px solid #ccc;
}
.form-control:hover, .form-control:focus, .form-control:active,{
    outline: none;
    box-shadow: none !important;
}