{% include "includes/header.html" %}

{% block page_title %} File Uploader - index {% endblock %}

{% block content %}

<aside id="header-image" style="background-image: url(static/main1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="header-image-wrap">
                    <div class="header-image-intro">
                        <h2>Adam Stevenson<span></span></h2>
                        <h1>File uploader</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>

<div id="main">

    <section id="feature">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-2 text-center" >
                    <h2 class="uppercase-heading-fm">Yo!</h2>
                    <p id="contact_return_message">Enter the name of the directory that you would like to send a file to within Google Drive.
                    The file you select will be uploaded to it. For example: "saves" would go to "file-api/saves". </p>
                    <div class="spacer spacer-xs"></div>
                    <form method="post" action="{{ url_for('file.send_file') }}" id="contact-form" enctype='multipart/form-data'>
                        <div class="form-group">
                            <label for="destination" class="sr-only">File directory destination</label>
                            <input type="text" class="form-control input-lg text-center" name="destination" id="destination" placeholder="File destination">
                        </div>
                        <div class="form-group">
                            <label for="file" class="sr-only">File</label>
                            <input type="file" class="form-control input-lg text-center" name="file" id="file" >
                        </div>

                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Send">
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="spacer spacer-md"></div>
        <div class="container">
            <h2 class="uppercase-heading-fm text-center">Get in touch</h2>
            <div class="col-md-8 col-md-offset-2 text-center lead-wrap">
                <p> Feel free to get in touch with me about this. Send queries to addstevenson@hotmail.com </p>
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% include "includes/footer.html" %}